<div class="container">
  <h1>Szia</h1>
  <p>{{name}}</p>
  <p>{{title}}</p>
  <ul>
    <li>{{employee.name}}</li>
    <li>{{employee.city}}</li>
    <li>{{employee.salary}}</li>
  </ul>
  <table class="table table-dark table-hover">
    <thead>
      <th>Név</th>
      <th>Település</th>
      <th>Fizetés</th>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employees">
        <td>{{emp.name}}</td>
        <td>{{emp.city}}</td>
        <td>{{emp.salary}}</td>
      </tr>
    </tbody>
  </table>
</div>